
@{
    ViewBag.Title = "OfferPhotos";

    var currentOffer = Model.offerDetail;
}

<h2>Manage Photos</h2>
<p>Select the photo that you would like to delete and the click on the button "DELETE PHOTO"</p>
@{
    
    foreach (Nearsens.Models.Photo photo in Model.offerPhotosList)
        {

        <div class="imgPhotoOffer">
            <img src="\@photo.Path" data-id="@photo.Id" />
        </div>
    }

    <input type="button" id="btnDeletePhotos" value="DELETE PHOTOS" />
}

<br />
<br />
<br />
<div class="col-lg-12" style="clear:both;padding-top:30px;">
    <label class="label label-info col-lg-12" for="photos">Add Photos</label>
<br />
<input type="file" id="photos" class="form-control col-lg-10" multiple /> <input id="btnUploadPhotos" type="button" class="btn btn-success btn-sm col-lg-2" value="Upload" />
   </div>

@section scripts{

    <script>

        var listaId = new Array();
        var arrayIndex = 0;
        $('.imgPhotoOffer').on('click', function () {

            if($(this).hasClass('selezionato')){
                
                $(this).removeClass('selezionato');
            }
            else{
                
                $(this).addClass('selezionato');
            }
        });

        $('#btnDeletePhotos').on('click', function () {

            $(".selezionato").each(function (i) {

                listaId[arrayIndex] = $(this).children().attr('data-id');
                arrayIndex++;

            });


            $.ajax({
                url: '/api/Photos/',
                type: 'DELETE',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(listaId),
                success: function (data) {
                    alert('Photos Deleted');
                    location.reload();
                },
                error: function (error) {
                    alert('Error on Login' + error.statusCode);
                }
            });
        });

        $('#btnUploadPhotos').on('click', function () {

            var files = $("#photos").get(0).files;
            if (files.length > 0) {
                var photos = new FormData();
                for (i = 0; i < files.length; i++) {
                    photos.append("file" + i, files[i]);
                }
                uploadPhotos(photos);
            }
        });

        function uploadPhotos(photos) {
          
            $.ajax({
                type: "POST",
                url: "/api/FileUpload/UploadOfferPhotos?offerId=" + @currentOffer.Id + "&placeId=" + @currentOffer.IdPlace,
                contentType: false,
                processData: false,
                data: photos,
                success: function (messages) {
                    alert('Photos uploaded');
                    location.reload();
                },
                error: function (error) {
                    alert("Upload failed");
                }
            });
        }

</script>
}